{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
{% tailwind_css %}
<body>

    <!-- Navbar -->
<nav class="bg-white shadow-md">
    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
        
        <!-- Logo -->
        <h1 class="text-xl font-bold text-blue-600">
            AuthSystem
        </h1>

        <!-- Links -->
        <div class="space-x-6">
            <a href="/" class="text-gray-700 hover:text-blue-500">Home</a>
            <a href="/signup" class="text-gray-700 hover:text-blue-500">Sign Up</a>
            <a href="/signin" class="text-gray-700 hover:text-blue-500">Login</a>
        </div>

    </div>
</nav>

    {% block content %}
    
    {% endblock %}
</body>
</html>